﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Nice input style */
*:focus {outline: none;}

.menu {
    /*float: right*/
}

.menu ul {
    min-width:500px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}
.menu li{
    padding:12px; 
    border-bottom:1px solid #eee;
    position:relative;
}

.menu li:first-child, .menu li:last-child {
    border-bottom:1px solid #777;
}

.menu li:last-child {
    margin-bottom: 20px;
}

.menu h2 {
    margin:0;
    display: inline;
}

.required_notification {
    color:#d45252; 
    margin:5px 0 0 0; 
    display:inline;
    float:right;
    font-size: 16px;
}

.menu input, .menu textarea { 
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}
.menu input:focus, .menu textarea:focus {
    background: #fff; 
    border:1px solid #555; 
    box-shadow: 0 0 3px #aaa; 
}

.menu label {
    width:180px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}
.menu input {
    height:24px; 
    width:220px; 
    padding:0px 8px;
}
.menu textarea {padding:8px; width:300px;}
.menu button {margin-left:180px;}

:-moz-placeholder {
    color: blue;
}
 
::-webkit-input-placeholder {
    color: blue;
}


/* Plot container style */
.plot-container {
	box-sizing: border-box;
	max-width: 850px;
    min-width: 575px; 
	min-height: 450px;
    max-height: 700px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

/* Plot style */
.plot-placeholder {
	width: 500px;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}


/* Refreshin image style */
#loadingPage {
    background: url(/images/ajax-loader.gif) no-repeat center center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*display: none;*/
}

/* Faded background style */
.black_overlay{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Warning box style */
#warnings {
	display: none;
	position: absolute;
    top: 30%;
	left: 30%;
	width: 40%;
	height: 40%;
	z-index:1002;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 4px solid #888;
}

/* Warning box header style */
#warnings h1 {
    margin-top: 0;
}