﻿@{
    ViewBag.Title = "Kurs giełdowego funduszu inwestycyjnego";
}

<h2>Kurs giełdowego funduszu inwestycyjnego</h2>

<script src="~/Scripts/scripts.flot.js" type="text/javascript"></script>
<script src="~/Scripts/scripts.flot.index.js" type="text/javascript"></script>

<div id="content">
    
    <div class="plot-container">
        <div id="placeholder" class="plot-placeholder" style="float:left; width:650px; height: 400px;"></div>
        <div id="overview" class="plot-placeholder" style="float:right;width:160px; height:125px;"></div>

    </div>
    <div id="menu" class="menu">
        <ul>
            <li>
                <h2>Ustawienia</h2>
                <span id="required_notification" class="required_notification"></span>
            </li>
            <li>
                <label for="start_time">Początek zakresu:</label>
                <input id="start_time" type="date" value="1999-07-28" name="start_time" placeholder="rrrr-mm-dd"/>
            </li>
            <li>
                <label for="end_time">Koniec zakresu:</label>
                <input id="end_time" type="date" value="2016-04-01" name="end_time" placeholder="rrrr-mm-dd"/>
            </li>
            <li>
                <button class="getSelectedData">Pobierz zakres</button>
            </li>
            <li>
                <button class="fetchSeries">Pobierz wszystkie</button>
            </li>

        </ul>
    </div>

    <div>
        <table id="dataTable" class="table table-striped table-bordered" cellspacing="0"  style="width: 100%;">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Wartość akcji [zł]</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Data</th>
                    <th>Wartość akcji [zł]</th>
                </tr>
            </tfoot>
        </table>
    </div>

</div>
