﻿@{
    ViewBag.Title = "Porównanie funduszu giełdowego z lokatą bankową";
}

<h2>Porównanie funduszu giełdowego z lokatą bankową</h2>

<script src="~/Scripts/scripts.flot.js" type="text/javascript"></script>
<script src="~/Scripts/scripts.flot.show.js" type="text/javascript"></script>

<div id="content">

    <div class="plot-container">
        <div id="placeholder" class="plot-placeholder" style="float:left; width:650px; height: 400px;"></div>
        <div id="overview" class="plot-placeholder" style="float:right;width:160px; height:125px;"></div>
    </div>
    <div id="menu" class="menu">
        <ul>
            <li>
                <h2>Ustawienia</h2>
                <span id="required_notification" class="required_notification"></span>
            </li>

            <li>
                <label for="start_time">Początek zakresu:</label>
                <input id="start_time" type="date" value="1999-07-28" name="start_time" required />
            </li>

            <li>
                <label for="end_time">Koniec zakresu:</label>
                <input id="end_time" type="date" value="2016-04-01" name="end_time" required />
            </li>

            <li>
                <label for="percentage">Proecent lokaty:</label>
                <input id="percentage" type="number" value="0.06" min="0.01" step="0.001" max="1.00" name="percentage" required />
            </li>

            <li>
                <label for="investment">Kwota inwestycji:</label>
                <input id="investment" type="number" value="1000" min="100" name="investment" required />
            </li>

            <li>
                <label for="capitalization">Kapitalizacja (dni):</label>
                <input id="capitalization" type="number" value="30" min="1" max="365" step="1" name="capitalization" required />
            </li>

            <li>
                <button class="getSelectedData">Policz</button>
            </li>
        </ul>
        
        
    </div>

</div>
