﻿@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload</h2>

<div id="content">


    <div class="form-horizontal">
        @using (Html.BeginForm("Upload", "Compare", FormMethod.Post,
                    new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="FileUpload1" />

            <input type="submit" value="Upload" class="btn" />

            <div class="err">
                @Html.ValidationSummary()
            </div>
        }
    </div>

</div>